In [1]:
import pandas

In [2]:
food_info = pandas.read_csv("food_info.csv")

In [3]:
print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

In [4]:
print(food_info.dtypes)

ND_NO           int64
short_desc     object
water          object
ecerg         float64
lipid           int64
ash           float64
carbohy       float64
fiber         float64
sugar(g)      float64
calcium         int64
iron          float64
magnes          int64
phosp         float64
potass          int64
sodium          int64
zinc            int64
copper          int64
wangse        float64
selenium        int64
wit             int64
this            int64
dtype: object

In [5]:
print(help(pandas.read_csv))

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
    object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : list-like or callable, default None
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
        order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

None

In [6]:
print(food_info)

    ND_NO short_desc water  ecerg  lipid    ash  carbohy  fiber  sugar(g)  \
0     101     BUTTER    W1  15.87    717   0.85    81.11   2.11      0.06
1     102     BUTTER    W2  16.87    718   1.85    82.11   3.11      1.06
2     103     CHFESE    W3  17.87    719   2.85    83.11   4.11      2.06
3     104     CHFESE    W4  18.87    720   3.85    84.11   5.11      3.06
4     105     CHFESE    W5  19.87    721   4.85    85.11   6.11      4.06
5     106     CHFESE    W6  20.87    722   5.85    86.11   7.11      5.06
6     107     CHFESE    MC  21.87    723   6.85    87.11   8.11      6.06
7     108     BUTTER    MC  22.87    724   7.85    88.11   9.11      7.06
8     109     BUTTER    W9  23.87    725   8.85    89.11  10.11      8.06
9     110     BUTTER   W10  24.87    726   9.85    90.11  11.11      9.06
10    111     BUTTER   W11  25.87    727  10.85    91.11  12.11     10.06

    calcium  ...   magnes  phosp  potass  sodium  zinc  copper  wangse  \
0         0  ...       24   0.02       2      24    24     643    0.09
1         1  ...       25   1.02       3      25    25     644    1.09
2         2  ...       26   2.02       4      26    26     645    2.09
3         3  ...       27   3.02       5      27    27     646    3.09
4         4  ...       28   4.02       6      28    28     647    4.09
5         5  ...       29   5.02       7      29    29     648    5.09
6         6  ...       30   6.02       8      30    30     649    6.09
7         7  ...       31   7.02       9      31    31     650    7.09
8         8  ...       32   8.02      10      32    32     651    8.09
9         9  ...       33   9.02      11      33    33     652    9.09
10       10  ...       34  10.02      12      34    34     653   10.09

    selenium  wit  this
0          0    0     1
1          1    1     2
2          2    2     3
3          3    3     4
4          4    4     5
5          5    5     6
6          6    6     7
7          7    7     8
8          8    8     9
9          9    9    10
10        10   10    11

[11 rows x 21 columns]

In [7]:
food_info.head()#展示数据 前5条

,ND_NO,short_desc,water,ecerg,lipid,ash,carbohy,fiber,sugar(g),calcium,...,magnes,phosp,potass,sodium,zinc,copper,wangse,selenium,wit,this
0,101,BUTTER,W1,15.87,717,0.85,81.11,2.11,0.06,0,...,24,0.02,2,24,24,643,0.09,0,0,1
1,102,BUTTER,W2,16.87,718,1.85,82.11,3.11,1.06,1,...,25,1.02,3,25,25,644,1.09,1,1,2
2,103,CHFESE,W3,17.87,719,2.85,83.11,4.11,2.06,2,...,26,2.02,4,26,26,645,2.09,2,2,3
3,104,CHFESE,W4,18.87,720,3.85,84.11,5.11,3.06,3,...,27,3.02,5,27,27,646,3.09,3,3,4
4,105,CHFESE,W5,19.87,721,4.85,85.11,6.11,4.06,4,...,28,4.02,6,28,28,647,4.09,4,4,5

In [8]:
food_info.head(3)

,ND_NO,short_desc,water,ecerg,lipid,ash,carbohy,fiber,sugar(g),calcium,...,magnes,phosp,potass,sodium,zinc,copper,wangse,selenium,wit,this
0,101,BUTTER,W1,15.87,717,0.85,81.11,2.11,0.06,0,...,24,0.02,2,24,24,643,0.09,0,0,1
1,102,BUTTER,W2,16.87,718,1.85,82.11,3.11,1.06,1,...,25,1.02,3,25,25,644,1.09,1,1,2
2,103,CHFESE,W3,17.87,719,2.85,83.11,4.11,2.06,2,...,26,2.02,4,26,26,645,2.09,2,2,3

In [9]:
food_info.tail(4)

,ND_NO,short_desc,water,ecerg,lipid,ash,carbohy,fiber,sugar(g),calcium,...,magnes,phosp,potass,sodium,zinc,copper,wangse,selenium,wit,this
7,108,BUTTER,MC,22.87,724,7.85,88.11,9.11,7.06,7,...,31,7.02,9,31,31,650,7.09,7,7,8
8,109,BUTTER,W9,23.87,725,8.85,89.11,10.11,8.06,8,...,32,8.02,10,32,32,651,8.09,8,8,9
9,110,BUTTER,W10,24.87,726,9.85,90.11,11.11,9.06,9,...,33,9.02,11,33,33,652,9.09,9,9,10
10,111,BUTTER,W11,25.87,727,10.85,91.11,12.11,10.06,10,...,34,10.02,12,34,34,653,10.09,10,10,11

In [10]:
print(food_info.columns)

Index(['ND_NO', 'short_desc', 'water', 'ecerg', 'lipid', 'ash', 'carbohy',
       'fiber', 'sugar(g)', 'calcium', 'iron', 'magnes', 'phosp', 'potass',
       'sodium', 'zinc', 'copper', 'wangse', 'selenium', 'wit', 'this'],
      dtype='object')

In [11]:
print(food_info.shape)

(11, 21)

In [12]:
print(food_info.loc[0])#打印第一行

ND_NO            101
short_desc    BUTTER
water             W1
ecerg          15.87
lipid            717
ash             0.85
carbohy        81.11
fiber           2.11
sugar(g)        0.06
calcium            0
iron            0.06
magnes            24
phosp           0.02
potass             2
sodium            24
zinc              24
copper           643
wangse          0.09
selenium           0
wit                0
this               1
Name: 0, dtype: object

In [13]:
food_info.loc[3:6]# 取切片

,ND_NO,short_desc,water,ecerg,lipid,ash,carbohy,fiber,sugar(g),calcium,...,magnes,phosp,potass,sodium,zinc,copper,wangse,selenium,wit,this
3,104,CHFESE,W4,18.87,720,3.85,84.11,5.11,3.06,3,...,27,3.02,5,27,27,646,3.09,3,3,4
4,105,CHFESE,W5,19.87,721,4.85,85.11,6.11,4.06,4,...,28,4.02,6,28,28,647,4.09,4,4,5
5,106,CHFESE,W6,20.87,722,5.85,86.11,7.11,5.06,5,...,29,5.02,7,29,29,648,5.09,5,5,6
6,107,CHFESE,MC,21.87,723,6.85,87.11,8.11,6.06,6,...,30,6.02,8,30,30,649,6.09,6,6,7

In [14]:
ndb_col = food_info["ND_NO"]#列名获取一列

In [15]:
print(ndb_col)

0     101
1     102
2     103
3     104
4     105
5     106
6     107
7     108
8     109
9     110
10    111
Name: ND_NO, dtype: int64

In [16]:
columns = ["ND_NO","short_desc"]#取木列

In [17]:
zinc_copper = food_info[columns]

In [18]:
print(zinc_copper)

    ND_NO short_desc
0     101     BUTTER
1     102     BUTTER
2     103     CHFESE
3     104     CHFESE
4     105     CHFESE
5     106     CHFESE
6     107     CHFESE
7     108     BUTTER
8     109     BUTTER
9     110     BUTTER
10    111     BUTTER

In [19]:
col_names = food_info.columns.tolist()

In [20]:
print(col_names)

['ND_NO', 'short_desc', 'water', 'ecerg', 'lipid', 'ash', 'carbohy', 'fiber', 'sugar(g)', 'calcium', 'iron', 'magnes', 'phosp', 'potass', 'sodium', 'zinc', 'copper', 'wangse', 'selenium', 'wit', 'this']

In [21]:
gram_columns = []

In [22]:
for c in col_names:
    if c.endswith("(g)"):#查询列名 是  克为单位的
        gram_columns.append(c)

In [23]:
print(gram_columns)

['sugar(g)']

In [24]:
gram_df = food_info[gram_columns]

In [25]:
print(gram_df.head(3))

   sugar(g)
0      0.06
1      1.06
2      2.06

In [26]:
print(food_info["sugar(g)"])

0      0.06
1      1.06
2      2.06
3      3.06
4      4.06
5      5.06
6      6.06
7      7.06
8      8.06
9      9.06
10    10.06
Name: sugar(g), dtype: float64

In [27]:
div_1000 = food_info["sugar(g)"]/2

In [28]:
print(div_1000)

0     0.03
1     0.53
2     1.03
3     1.53
4     2.03
5     2.53
6     3.03
7     3.53
8     4.03
9     4.53
10    5.03
Name: sugar(g), dtype: float64

In [29]:
water=food_info["sugar(g)"]*food_info["ND_NO"]

In [30]:
print(water)

0        6.06
1      108.12
2      212.18
3      318.24
4      426.30
5      536.36
6      648.42
7      762.48
8      878.54
9      996.60
10    1116.66
dtype: float64

In [31]:
print(food_info.shape)

(11, 21)

In [32]:
dd = food_info["ND_NO"]*2

In [33]:
print(dd)

0     202
1     204
2     206
3     208
4     210
5     212
6     214
7     216
8     218
9     220
10    222
Name: ND_NO, dtype: int64

In [34]:
max_NDno= food_info["ND_NO"].max()#获取最大值

In [35]:
print(max_NDno)

111

In [36]:
food_info.sort_values("ND_NO",inplace=True) #按照排序

In [37]:
print(food_info)

    ND_NO short_desc water  ecerg  lipid    ash  carbohy  fiber  sugar(g)  \
0     101     BUTTER    W1  15.87    717   0.85    81.11   2.11      0.06
1     102     BUTTER    W2  16.87    718   1.85    82.11   3.11      1.06
2     103     CHFESE    W3  17.87    719   2.85    83.11   4.11      2.06
3     104     CHFESE    W4  18.87    720   3.85    84.11   5.11      3.06
4     105     CHFESE    W5  19.87    721   4.85    85.11   6.11      4.06
5     106     CHFESE    W6  20.87    722   5.85    86.11   7.11      5.06
6     107     CHFESE    MC  21.87    723   6.85    87.11   8.11      6.06
7     108     BUTTER    MC  22.87    724   7.85    88.11   9.11      7.06
8     109     BUTTER    W9  23.87    725   8.85    89.11  10.11      8.06
9     110     BUTTER   W10  24.87    726   9.85    90.11  11.11      9.06
10    111     BUTTER   W11  25.87    727  10.85    91.11  12.11     10.06

    calcium  ...   magnes  phosp  potass  sodium  zinc  copper  wangse  \
0         0  ...       24   0.02       2      24    24     643    0.09
1         1  ...       25   1.02       3      25    25     644    1.09
2         2  ...       26   2.02       4      26    26     645    2.09
3         3  ...       27   3.02       5      27    27     646    3.09
4         4  ...       28   4.02       6      28    28     647    4.09
5         5  ...       29   5.02       7      29    29     648    5.09
6         6  ...       30   6.02       8      30    30     649    6.09
7         7  ...       31   7.02       9      31    31     650    7.09
8         8  ...       32   8.02      10      32    32     651    8.09
9         9  ...       33   9.02      11      33    33     652    9.09
10       10  ...       34  10.02      12      34    34     653   10.09

    selenium  wit  this
0          0    0     1
1          1    1     2
2          2    2     3
3          3    3     4
4          4    4     5
5          5    5     6
6          6    6     7
7          7    7     8
8          8    8     9
9          9    9    10
10        10   10    11

[11 rows x 21 columns]

In [42]:
food_info.sort_values("ND_NO",inplace=True,ascending=False)#倒序

In [43]:
print(food_info)

    ND_NO short_desc water  ecerg  lipid    ash  carbohy  fiber  sugar(g)  \
10    111     BUTTER   W11  25.87    727  10.85    91.11  12.11     10.06
9     110     BUTTER   W10  24.87    726   9.85    90.11  11.11      9.06
8     109     BUTTER    W9  23.87    725   8.85    89.11  10.11      8.06
7     108     BUTTER    MC  22.87    724   7.85    88.11   9.11      7.06
6     107     CHFESE    MC  21.87    723   6.85    87.11   8.11      6.06
5     106     CHFESE    W6  20.87    722   5.85    86.11   7.11      5.06
4     105     CHFESE    W5  19.87    721   4.85    85.11   6.11      4.06
3     104     CHFESE    W4  18.87    720   3.85    84.11   5.11      3.06
2     103     CHFESE    W3  17.87    719   2.85    83.11   4.11      2.06
1     102     BUTTER    W2  16.87    718   1.85    82.11   3.11      1.06
0     101     BUTTER    W1  15.87    717   0.85    81.11   2.11      0.06

    calcium  ...   magnes  phosp  potass  sodium  zinc  copper  wangse  \
10       10  ...       34  10.02      12      34    34     653   10.09
9         9  ...       33   9.02      11      33    33     652    9.09
8         8  ...       32   8.02      10      32    32     651    8.09
7         7  ...       31   7.02       9      31    31     650    7.09
6         6  ...       30   6.02       8      30    30     649    6.09
5         5  ...       29   5.02       7      29    29     648    5.09
4         4  ...       28   4.02       6      28    28     647    4.09
3         3  ...       27   3.02       5      27    27     646    3.09
2         2  ...       26   2.02       4      26    26     645    2.09
1         1  ...       25   1.02       3      25    25     644    1.09
0         0  ...       24   0.02       2      24    24     643    0.09

    selenium  wit  this
10        10   10    11
9          9    9    10
8          8    8     9
7          7    7     8
6          6    6     7
5          5    5     6
4          4    4     5
3          3    3     4
2          2    2     3
1          1    1     2
0          0    0     1

[11 rows x 21 columns]