In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
titanic_suval = pd.read_csv("titanic_trani.csv")

In [4]:
titanic_suval.head()

,Passend,Survivec,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,dfaefd,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,fdsfd,female,38.0,1,0,PC,71.2833,C85,C
2,3,0,3,asfsa,female,26.0,0,0,STON,7.8000,NaN,S
3,4,1,2,fdsgd,female,27.0,1,1,FSD,58.0000,NaN,S
4,5,1,1,ertfds,female,28.0,1,0,STON,75.0000,NaN,C

In [5]:
age = titanic_suval["Age"]

In [6]:
print(age)

0     22.0
1     38.0
2     26.0
3     27.0
4     28.0
5      NaN
6     30.0
7     31.0
8     32.0
9     33.0
10    34.0
11    35.0
Name: Age, dtype: float64

In [7]:
print(age.loc[0:10])

0     22.0
1     38.0
2     26.0
3     27.0
4     28.0
5      NaN
6     30.0
7     31.0
8     32.0
9     33.0
10    34.0
Name: Age, dtype: float64

In [8]:
age_is_null = pd.isnull(age)

In [9]:
print(age_is_null)

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
Name: Age, dtype: bool

In [10]:
age_null_true = age[age_is_null]

In [11]:
print(age_null_true)

5   NaN
Name: Age, dtype: float64

In [12]:
mean_age = sum(titanic_suval["Age"])/len(titanic_suval["Age"])

In [13]:
print(mean_age)

nan

In [14]:
good_ages = titanic_suval["Age"][age_is_null == False]

In [15]:
correct_mean_age  = sum (good_ages) / len(good_ages)

In [16]:
print (correct_mean_age)

30.545454545454547

In [17]:
correct_mean_age = titanic_suval["Age"].mean()#缺少值去掉 求平均

In [18]:
print(correct_mean_age)

30.545454545454547

In [19]:
passenger_clas = [1,2,3]

In [20]:
fares_by_class = {}# 每个仓位价格平均

In [21]:
for this_class in passenger_clas:
    pclass_rows = titanic_suval[titanic_suval["Pclass"] == this_class]
    pclass_fares = pclass_rows["Fare"]
    fare_by_class = pclass_fares.mean()
    fares_by_class[this_class] = fare_by_class

In [22]:
print(fares_by_class)

{1: 76.65666, 2: 56.5, 3: 8.01}

In [23]:
passenger_survival = titanic_suval.pivot_table(index="Pclass",values="Survivec",aggfunc=np.mean)

In [24]:
print(passenger_survival)# 仓位的获救概率

        Survivec
Pclass
1            0.8
2            0.5
3            0.2

In [25]:
passenger_age = titanic_suval.pivot_table(index="Pclass",values="Age")

In [26]:
print(passenger_age)#仓位平均年龄

          Age
Pclass
1       32.80
2       29.50
3       28.25

In [27]:
port_stats = titanic_suval.pivot_table(index="Embarked",values=["Fare","Survivec"],aggfunc=np.sum)

In [28]:
print(port_stats)# 统计 上船 另外两个字段的关系

              Fare  Survivec
Embarked
C         214.2833         3
S         322.0500         3

In [29]:
drop_na_columns = titanic_suval.dropna(axis=1)# 有没有缺失值 有 就去掉列

In [30]:
new_titanic_survival = titanic_suval.dropna(axis=0,subset=["Age","Sex"]) # 这两列  如果有缺失值就去掉行

In [31]:
print(drop_na_columns)

    Passend  Survivec  Pclass        Name     Sex  SibSp  Parch     Ticket  \
0         1         0       3      dfaefd    male      1      0  A/5 21171
1         2         1       1       fdsfd  female      1      0         PC
2         3         0       3       asfsa  female      0      0       STON
3         4         1       2       fdsgd  female      1      1        FSD
4         5         1       1      ertfds  female      1      0       STON
5         6         0       3  fdggfdsgre  female      0      0       FSDF
6         7         0       1       gfhgf  female      1      0       DFSA
7         8         0       3        gfds  female      1      1       FREW
8         9         0       2         fgh  female      1      1        SDF
9        10         1       1         hfh  female      1      0        EWR
10       11         1       3         hrt  female      0      0       WERF
11       12         1       1        gfdg  female      1      1         AS

       Fare Embarked
0    7.2500        S
1   71.2833        C
2    7.8000        S
3   58.0000        S
4   75.0000        C
5    8.0000        S
6   85.0000        S
7    9.0000        S
8   55.0000        S
9   68.0000        C
10   8.0000        S
11  84.0000        S

In [32]:
print(new_titanic_survival)

    Passend  Survivec  Pclass    Name     Sex   Age  SibSp  Parch     Ticket  \
0         1         0       3  dfaefd    male  22.0      1      0  A/5 21171
1         2         1       1   fdsfd  female  38.0      1      0         PC
2         3         0       3   asfsa  female  26.0      0      0       STON
3         4         1       2   fdsgd  female  27.0      1      1        FSD
4         5         1       1  ertfds  female  28.0      1      0       STON
6         7         0       1   gfhgf  female  30.0      1      0       DFSA
7         8         0       3    gfds  female  31.0      1      1       FREW
8         9         0       2     fgh  female  32.0      1      1        SDF
9        10         1       1     hfh  female  33.0      1      0        EWR
10       11         1       3     hrt  female  34.0      0      0       WERF
11       12         1       1    gfdg  female  35.0      1      1         AS

       Fare Cabin Embarked
0    7.2500   NaN        S
1   71.2833   C85        C
2    7.8000   NaN        S
3   58.0000   NaN        S
4   75.0000   NaN        C
6   85.0000   NaN        S
7    9.0000   NaN        S
8   55.0000   NaN        S
9   68.0000   NaN        C
10   8.0000   NaN        S
11  84.0000   NaN        S

In [33]:
row_index_10_age = titanic_suval.loc[10,"Age"]

In [34]:
print(row_index_10_age)

34.0

In [35]:
new_titanic_survival = titanic_suval.sort_values("Age",ascending=False)

In [36]:
print(new_titanic_survival)

    Passend  Survivec  Pclass        Name     Sex   Age  SibSp  Parch  \
1         2         1       1       fdsfd  female  38.0      1      0
11       12         1       1        gfdg  female  35.0      1      1
10       11         1       3         hrt  female  34.0      0      0
9        10         1       1         hfh  female  33.0      1      0
8         9         0       2         fgh  female  32.0      1      1
7         8         0       3        gfds  female  31.0      1      1
6         7         0       1       gfhgf  female  30.0      1      0
4         5         1       1      ertfds  female  28.0      1      0
3         4         1       2       fdsgd  female  27.0      1      1
2         3         0       3       asfsa  female  26.0      0      0
0         1         0       3      dfaefd    male  22.0      1      0
5         6         0       3  fdggfdsgre  female   NaN      0      0

       Ticket     Fare Cabin Embarked
1          PC  71.2833   C85        C
11         AS  84.0000   NaN        S
10       WERF   8.0000   NaN        S
9         EWR  68.0000   NaN        C
8         SDF  55.0000   NaN        S
7        FREW   9.0000   NaN        S
6        DFSA  85.0000   NaN        S
4        STON  75.0000   NaN        C
3         FSD  58.0000   NaN        S
2        STON   7.8000   NaN        S
0   A/5 21171   7.2500   NaN        S
5        FSDF   8.0000   C35        S

In [37]:
titanic_reindexed = new_titanic_survival.reset_index(drop=True)#更新索引值

In [38]:
print(titanic_reindexed)

    Passend  Survivec  Pclass        Name     Sex   Age  SibSp  Parch  \
0         2         1       1       fdsfd  female  38.0      1      0
1        12         1       1        gfdg  female  35.0      1      1
2        11         1       3         hrt  female  34.0      0      0
3        10         1       1         hfh  female  33.0      1      0
4         9         0       2         fgh  female  32.0      1      1
5         8         0       3        gfds  female  31.0      1      1
6         7         0       1       gfhgf  female  30.0      1      0
7         5         1       1      ertfds  female  28.0      1      0
8         4         1       2       fdsgd  female  27.0      1      1
9         3         0       3       asfsa  female  26.0      0      0
10        1         0       3      dfaefd    male  22.0      1      0
11        6         0       3  fdggfdsgre  female   NaN      0      0

       Ticket     Fare Cabin Embarked
0          PC  71.2833   C85        C
1          AS  84.0000   NaN        S
2        WERF   8.0000   NaN        S
3         EWR  68.0000   NaN        C
4         SDF  55.0000   NaN        S
5        FREW   9.0000   NaN        S
6        DFSA  85.0000   NaN        S
7        STON  75.0000   NaN        C
8         FSD  58.0000   NaN        S
9        STON   7.8000   NaN        S
10  A/5 21171   7.2500   NaN        S
11       FSDF   8.0000   C35        S

In [39]:
def hundredth_row(column):#拿第10行的值  自定义函数
    hundredth_item = column.loc[10]
    return hundredth_item

In [40]:
hundredth_row = titanic_suval.apply(hundredth_row)

In [41]:
print(hundredth_row)

Passend         11
Survivec         1
Pclass           3
Name           hrt
Sex         female
Age             34
SibSp            0
Parch            0
Ticket        WERF
Fare             8
Cabin          NaN
Embarked         S
dtype: object

In [42]:
def not_null_count(column):#统计缺少值
    column_nul = pd.isnull(column)
    null = column[column_nul]
    return len(null)

In [43]:
colum_null_count = titanic_suval.apply(not_null_count)

In [44]:
print(colum_null_count)

Passend      0
Survivec     0
Pclass       0
Name         0
Sex          0
Age          1
SibSp        0
Parch        0
Ticket       0
Fare         0
Cabin       10
Embarked     0
dtype: int64

In [45]:
def is_minor(row):#判断年级小于30的
    if row["Age"] < 30:
        return True
    else:
        return False

In [46]:
minores = titanic_suval.apply(is_minor,axis=1)

In [47]:
print(minores)

0      True
1     False
2      True
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [48]:
def generate_age_label(row):
    age = row["Age"]
    if pd.isnull(age):
        return "unknown"
    elif age < 30:
        return "minor"
    else:
        return "adult"

In [49]:
age_labels = titanic_suval.apply(generate_age_label,axis=1)

In [50]:
print(age_labels)

0       minor
1       adult
2       minor
3       minor
4       minor
5     unknown
6       adult
7       adult
8       adult
9       adult
10      adult
11      adult
dtype: object

In [51]:
titanic_suval["age_labels"] = age_labels

In [52]:
print(titanic_suval)

    Passend  Survivec  Pclass        Name     Sex   Age  SibSp  Parch  \
0         1         0       3      dfaefd    male  22.0      1      0
1         2         1       1       fdsfd  female  38.0      1      0
2         3         0       3       asfsa  female  26.0      0      0
3         4         1       2       fdsgd  female  27.0      1      1
4         5         1       1      ertfds  female  28.0      1      0
5         6         0       3  fdggfdsgre  female   NaN      0      0
6         7         0       1       gfhgf  female  30.0      1      0
7         8         0       3        gfds  female  31.0      1      1
8         9         0       2         fgh  female  32.0      1      1
9        10         1       1         hfh  female  33.0      1      0
10       11         1       3         hrt  female  34.0      0      0
11       12         1       1        gfdg  female  35.0      1      1

       Ticket     Fare Cabin Embarked age_labels
0   A/5 21171   7.2500   NaN        S      minor
1          PC  71.2833   C85        C      adult
2        STON   7.8000   NaN        S      minor
3         FSD  58.0000   NaN        S      minor
4        STON  75.0000   NaN        C      minor
5        FSDF   8.0000   C35        S    unknown
6        DFSA  85.0000   NaN        S      adult
7        FREW   9.0000   NaN        S      adult
8         SDF  55.0000   NaN        S      adult
9         EWR  68.0000   NaN        C      adult
10       WERF   8.0000   NaN        S      adult
11         AS  84.0000   NaN        S      adult

In [54]:
age_group_survival = titanic_suval.pivot_table(index="age_labels",values="Survivec")#统计 各个年龄大获救概率

In [55]:
print(age_group_survival)

            Survivec
age_labels
adult       0.571429
minor       0.500000
unknown     0.000000